<div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
          
  <svg class="icon icon--white collapsible__chevron">
    <use  xlink:href="images/sprite.svg#line"></use>
  </svg>
<!-- <img src="./images/chevron.jpg" style="width: 30px; height: 30px" class=""> -->
    
</img>
      </header>
      <div class="collapsible__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, debitis!</div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
          
  <svg class="icon icon--white collapsible__chevron">
    <use  xlink:href="images/sprite.svg#line"></use>
  </svg>
<!-- <img src="./images/chevron.jpg" style="width: 30px; height: 30px" class=""> -->
    
</img>
      </header>
      <div class="collapsible__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, debitis!</div>
    </div>

    